header {
	background-color: white;
	border-bottom: 1px solid #CCCCCC;
	height: 70px;
	margin-bottom: 30px;
	width: 100%;
}
/*For future logo alt-text: alt='Holberton AirBnb clone logo seahorse embedded in the letter A'*/
.home_logo {
	background-image: url(../images/logo.png);
	background-position: left;
	background-repeat: no-repeat;
	float: left;
	height: 100%;
	margin-left: 20px;
	width: 100%;
	}